@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
body {
    margin: 0px;
}
  .hero-container {
    background: url('/images/iteration-1-images/home-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.banner-title {
    font-family: 'Acme', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin: 0px;
    color: white;
    background-color: #ce2829;
    text-align: center;
  }

.hero-text {
    color: white;
    margin-bottom: 3rem;
    font-size: 70px;
}

.hero-btn {
    font-size: 1.5rem;
    padding: 15px 40px;
    background-color: #fdc913;
    color: #333;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.hero-banner {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 1060px) {
    .hero-text {
      font-size: 50px;
      margin-bottom: 2rem;
    }
  
    .hero-btn {
      padding: 12px 30px; 
      font-size: 1.2rem;
    }
    .banner-title {
        font-size: 2rem; 
        padding: 1rem 0;
  }
}